:root {
  --color-sea-green: hsl(192, 37%, 48%);
  --color-dark-purple: hsl(258, 34%, 53%);
  --color-light-purple: hsl(268, 100%, 86%);
  --color-grey: hsl(240, 10%, 57%);
  --color-dark-grey: hsl(240, 21%, 20%);
  --color-cyan: hsl(192, 90%, 77%);
  --color-white: hsl(0, 0%, 98%);
}

.btn {
  height: 3.8rem;
  width: 12.3rem;
  border: none;
  color: #ffff;
  border-radius: 2.8rem;
  font-size: 1.6rem;
}

.btn_green {
  background-color: var(--color-sea-green);
}
.btn_violet {
  background-color: var(--color-dark-purple);
}

html {
  font-family: "Red Hat Display", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
  height: 10vh;
}

.logo img {
  width: 100%;
  height: 100%;
}

.container_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.img_left {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}
.img_right {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}
.container_1_content {
  grid-column: 1/3;
  grid-row: 2/3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_left img,
.img_right img {
  width: 100%;
}

.button_container {
  display: flex;
  flex-direction: column;
}

.container_1_content h1 {
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.container_1_content p {
  text-align: center;
  padding: 0 5%;
  line-height: 25px;
  font-weight: 400;
  color: var(--color-grey);
}

.btn {
  margin: 2.5% 0;
  font-size: large;
  font-weight: bold;
}

.container_2 {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.symbol {
  display: flex;
}
.symbol p {
  border: 1px solid var(--color-grey);
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 50%;
  color: var(--color-grey);
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.symbol p::after {
  content: "";
  width: 1px;
  height: 80px;
  background-color: var(--color-grey);
  position: relative;
  bottom: 60px;
  left: -8px;
}

.container_3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex_container img {
  width: 130px;
  padding: 10px;
  border-radius: 20px;
}

.container_4_content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.container_4_content span {
  letter-spacing: 3px;
  height: 10vh;
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 1.2em;
  color: var(--color-sea-green);
}

.container_4_content h2 {
  margin-top: 0;
  font-size: 2em;
  font-weight: bolder;
  padding: 0 10%;
  text-align: center;
}

.container_4_content p {
  height: 30vh;
  padding: 0 5%;
  text-align: center;
  color: var(--color-grey);
}
.container_4_content span h2 p {
  text-align: center;
}

.sym-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container_5_flex {
  background: var(--color-sea-green) url("./../src/mobile/image-footer.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

.container_5_symbol {
  position: relative;
  top: 38px;
}

.flex_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_wrapper h2 {
  padding-top: 12vh;
  font-size: 1.8em;
  color: white;
}
.flex_wrapper p {
  text-align: center;
  color: white;
  padding: 0 10%;
}

@media (min-width: 1024px) {
  .header_logo {
    height: 17vh;
  }
  .container_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .img_left {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .img_right {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .container_1_content {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .container_1_content h1 {
    font-size: 2.5em;
  }
  .flex_container img {
    width: 175px;
    padding: 10px;
    border-radius: 20px;
  }
  .container_1_content {
    justify-content: flex-end;
  }

  .container_4_content p {
    padding: 0 30%;
  }

  .flex_wrapper {
    flex-direction: row;
    padding: 0 15%;
    height: 30vh;
  }
  .flex_wrapper h2 {
    padding: 0;
  }
  .container_5_flex {
    background: var(--color-sea-green) url("./../src/desktop/image-footer.jpg");
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: overlay;
  }

  .flex_wrapper p {
    font-weight: 700;
    letter-spacing: 1px;
  }
}
